/* Google font */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&family=Inter:wght@400;600;700;800&family=Lato:wght@400;700;900&family=Lobster&family=Open+Sans&family=Oswald&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap');

/* Share style */
*{
   margin: 0;
   padding: 0;
   font-family: 'Work Sans', sans-serif;
}
.root{
   --primary-font-size: 1.2rem;
   --primary-color:  #FF42A5;
}
.btn-primary{
   border-radius: 48px;
   background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
   padding: 20px 40px;
   font-weight: 600;
   font-size: 1.1rem;
   color: #FFF;
   border: 0;
   margin-right: 20px;
}
.common-p{
   color: #534C64;
   font-size: 1rem;
   font-weight: 400;
   margin-top: 20px;
   margin-bottom: 20px;
}


/* Navigation Style */
nav{
   display: flex;
   justify-content: space-between;
   width: 80%;
   margin: 0 auto;
   padding-top: 40px;
   padding-bottom: 40px;
}
.logo{
   display: flex;
   align-items: center;

}
.logo img{
   width: 86.041px;
   height: 40px;
   margin-right: 20px;
}
.logo h2{
   font-size: 2.8rem;
}
.logo h2 span {
   color: #FF42A5;
}
.follow-us-on img{
   width: 33px;
   height: 24px;
}
ul{
   display: flex;
   gap: 2em;
   align-items: center;
   justify-content: center;
   font-weight: 500;
   font-size: var(--primary-font-size);
   
}
ul li {
   text-decoration: none;
   list-style: none;
}
ul li a{
   text-decoration: none;
   color: #3C354F;
   
}
.follow-us-on{
   display: flex;
   gap: 10px;
   border-radius: 8px;
   background: rgba(11, 2, 35, 0.10);
   padding: 18px;
}

/* Header Style */
.banner{
   width: 80%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;
   background: #FFF;
}
.banner-content{
   max-width: 901px;
   height: 446px;;
   fill: linear-gradient(235deg, rgba(140, 87, 238, 0.03) 3.9%, rgba(241, 68, 174, 0.03) 100.56%);
}
.sub-hero-title{
   font-weight: 600;
   font-size: 3rem;
   color: #0B0223;
}
.hero-title{
   font-size: 5.5rem;
   font-weight: 800;
   background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.banner-content p{
   color: #534C64;
   font-size: 1.2rem;
   font-weight: 500;
}
.banner-content p img{
   align-items: center;
   margin-right: 10px;
}
.paragraph-group{
   margin-top: 20px;
   margin-bottom: 20px;
}
.btn-secondary{
   border-radius: 48px;
   background: #4EC5F7;
   padding: 20px 40px;
   font-weight: 600;
   font-size: 1.1rem;
   color: #FFF;
   border: 0;
   gap: 20px;
}
.banner-imgs{
   display: flex;
   flex-direction: column;
   margin-right: 50px;
}
/* We are Gammer Section */
.gammer-section{
   background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
}
.gammer-container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 85%;
   margin: 0 auto;
   padding: 20px;
}
.gammer-content{
   max-width: 600px;
   text-align: right;
}
.gammer-content .section-title{
   font-weight: 700;
   font-size: 3rem;
   background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.gammer-content .purpose-div{
   color: #534C64;
   font-weight: 500;
   font-size: 1.5rem;
}
.gammer-content .purpose-div span{
   font-size: 32px;
   font-weight: 700;
}
/* Funny Video Section */
.funny-videos{
   margin-top: 50px;
   margin-bottom: 50px;
}
.funny-videos h2{
   color: #0B0223;
   font-weight: 700;
   font-size: 3rem;
}
.funny-videos h2 span{
   background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.funny-videos-content{
   margin: 0 auto;
   text-align: center;
}
.videos-container{
   margin-top: 50px;
   margin-left: 240px;
   margin-right: 240px;
   display: flex;
   gap: 20px;
}
.video{
   max-width: 350px;
}
.video img{
   width: 340px;
   height: 400px;
}
.video p{
   margin: 10px;
}
/* .overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.7);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   opacity: 0;
   transition: opacity 0.3s ease;
 }
 .overlay:hover {
   opacity: 1;
 }

 .play-icon {
   font-size: 40px;
   color: #fff;
 }

 .watch-now {
   color: #fff;
   margin-top: 10px;
 }
 */

















/* ---------------Responsive  Layout --------------------*/

/* Mobile Devices */
@media screen and (max-width: 576px) {
   nav, ul, .videos-container{
      flex-direction: column;
      align-items: center;
      padding-top: 20px 10px;
      margin-bottom: 20px;
      margin-top: 20px;
   }
   .banner{
      flex-direction: column-reverse;
   }
   .banner-content{
      margin-top: 30px;
   }
   .banner-imgs{
      margin: 0 auto;
      align-items: center;
   }
   .gammer-container{
      flex-direction: column;
      background-color: white;
      margin: 0 auto;
      text-align: center;
   }
   .gammer-content, .funny-videos-content {
      margin: 0 auto;
      text-align: center;
  }

  
}
/* Tablet Devices */
@media screen and (min-width: 576px) and ( max-width:992px) {
   nav{
      flex-direction: column;
      align-items: center;
   }
   ul{
      margin-top: 30px;
   }
   .banner{
      flex-direction: column-reverse;
   }
   .banner-content{
      margin-top: 30px;
   }
   .banner-imgs{
      margin: 0 auto;
      align-items: center;
   }
   .gammer-container{
      flex-direction: column;
      background-color: white;
   }
   .gammer-content {
      max-width: 600px;
      margin: 0 auto;
      text-align: center;
  }
  .videos-container{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   margin: 0 auto;
   align-items: center;
  }
}